ul{
    padding-inline-start: 0;
       
   }
   button{
       margin-top: 15%;
       margin-right: 5%;
       margin-left: 5%;
       height: 120px;
       width: 150px;
       border: none;
       background-color: #005d85;
       color: white;
       border-radius: 15%;
       
   }
   body{
       background: skyblue;
   }
   
   .topTitle{
       font-size: 50px;
       text-align: center;
       margin-bottom: 50px;
   }
   .picture{
       display: flex;
       justify-content: space-between;
       border: 1px solid black;
       padding: 15px;
       
   }
   .myImg{
       max-width: 100%;
       max-height: 100%;
   }
   .commentSection{
       margin: auto;
       text-align: center;
   }
   .enterComment{
       width: 50%;
   }
   li{
       font-size: 25px;
       list-style: none;
       text-align: center;
       border: 2px solid black;
       margin: auto;
       padding: 25px 0px 25px 0px;
       max-width: 800px;
   }
   
   .userName{
       text-align: left;
   }
   .commentBox{
       display: block;
       margin: auto;
       font-size: 17px;
       width: 120;
   }
   li + li {
       margin-top: 25px;
   }